
<link rel="stylesheet" href=" {{ url_for('static', filename='sobre.css')}}" />
  
<nav>
  <ul>
    <li><a href="#sessao1">Sessão 1</a></li>
    <li><a href="#sessao2">Sessão 2</a></li>
    <li><a href="#sessao3">Sessão 3</a></li>
    <li><a href="#sessao4">Sessão 4</a></li>
  </ul>
</nav>


<section id="sessao1">
<a href="/"> <h1>Sessão 1</h1></a>
</section>

<section id="sessao2">
  <h1>Sessão 2</h1>
</section>

<section id="sessao3">
  <h1>Sessão 3</h1>
</section>

<section id="sessao4">
  <h1>Sessão 4</h1>
</section>
